<% if obj.errors.any? %>
<div class="row">
  <div class="col-12">
    <div class="alert alert-danger">
        <h2 class="alert-heading">
          <%= pluralize(obj.errors.count, "errors")%>
          Prohibited this article from saving
        </h2>
        <div class="mb-0">
          <ul>
            <% obj.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
<% end %>
